annotated-types==0.7.0
anyio==4.12.1
APScheduler==3.10.4
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
fastapi==0.115.6
h11==0.16.0
httptools==0.7.1
idna==3.11
psycopg==3.3.2
psycopg-binary==3.3.2
pydantic==2.10.3
pydantic-settings==2.6.1
pydantic_core==2.27.1
python-dotenv==1.2.1
python-multipart==0.0.12
pytz==2025.2
PyYAML==6.0.3
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.36
starlette==0.41.3
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.32.1
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
psycopg2-binary
